body, html{
    overflow-x: hidden;
}

html, body{
    font-size: 16px;
    background: var(--app-container);
    transition: all 0s linear;
}

body::-webkit-scrollbar {
    width: 6px;
    border: none;
    outline: none;
}

body::-webkit-scrollbar-track {
    border: none;
    outline: none;
}

body::-webkit-scrollbar-thumb {
    background-color: #6348B3;
    border: none;
    outline: none;
}

/* body::-webkit-scrollbar {
    width: 6px;
    border: none;
    outline: none;
    background-color: #0C0F14;
}
body::-webkit-scrollbar-track {
    border: none;
    outline: none;
}
body::-webkit-scrollbar-thumb {
    background-color: #6348B3;
    border: none;
    outline: none;
} */

a{
    transition: all .25s ease;
}

h1 { font-size: 6em}
h2 { font-size: 3em}
h3 { font-size: 1.5em}
h4 { font-size: 1.2em}
h5 { font-size: 1.1em}
h6 { font-size: 1.05em}
